debug.bat
ffplay.exe
ffprobe.exe
locastChannels.m3u8
redebug.bat
telly.exe
config_all.ini
config.ini
nbstreamreader.pyc
secret_notes.txt
SECRETS.txt
.vscode
service_uuid
TODO.md
*.pyc
config_future.ini
dev/
cache/*_epg
cache/stations/*_stations.json
cache/*_epg.xml
