# Systemctl file for locast2plex
#
# Assumes the application is living in /opt/locast2.plex and a user and group locast2plex
#
# Installation:
#   - Copy to: /etc/systemd/system/locast2plex.service
#   - sudo systemctl daemon-reload
#   - sudo systemctl enable locast2plex
#   - sudo systemctl start locast2plex
#
# To view logs: `journalctl -fu locast2plex`
#
# Written by Warren Melnick, warrenmelnick -at- gmail -dot- com, 2020-12-31

[Unit]
Description=locast2plex background service
After=network.target

[Service]
Type=simple
User=locast2plex
Group=locast2plex
WorkingDirectory=/opt/locast2plex
ExecStart=/usr/bin/python3 main.py
SyslogIdentifier=locast2plex
ProtectSystem=true
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
